{% load static %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <ul class="nav justify-content-center flex-column flex-sm-row" id="tabs-text" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav-text mb-sm-4 px-4" href="/#education">Ta'lim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text mb-sm-3 px-4" href="/#competences">Kompetensiyalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text mb-sm-3 px-4" href="/#projects">Loyihalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text mb-sm-3 px-4" href="/#contact-me">Aloqa</a>
                </li>
            </ul>
        </div>
    </div>
</div>
